<footer class="site-footer">
  <div class="container">
    <div class="row">
      <!-- Republic of the Philippines Section -->
       <div class="col-md-3 mb-4">
        <img src="assets/RNP Seal.webp" alt="Republic of the Philippines Seal" height="100">
        <h6 class="text-white">REPUBLIC OF THE PHILIPPINES</h6>
        <p class="small">All content is in a public domain unless otherwise stated.</p>
      </div>

      <!-- About GOVPH Section -->
       <div class="col-md-3 mb-4">
        <h6 class="text-white">About GOVPH</h6>
        <p class="small">Learn more about the Philippine Government, its structure, how government works and the people behind it.</p>
        
        <h6 class="text-white mt-4"><u>GOVPH</u></h6>
        <ul class="list-unstyled small">
          <li><a href="" class="text-decoration-none text-white-50">Open Data Portal</a></li>
          <li><a href="" class="text-decoration-none text-white-50">Official Gazette</a></li>
        </ul>
      </div>

      <!-- Government Links Section -->
       <div class="col-md-3 mb-4">
        <h6 class="text-white">Government Links</h6>
        <ul class="list-unstyled small">
          <li><a href="" class="text-decoration-none text-white-50">Office of the President</a></li>
          <li><a href="" class="text-decoration-none text-white-50">Office of the Vice President</a></li>
          <li><a href="" class="text-decoration-none text-white-50">Senate of the Philippines</a></li>
          <li><a href="" class="text-decoration-none text-white-50">Supreme Court</a></li>
          <li><a href="" class="text-decoration-none text-white-50">Court of Appeals</a></li>
          <li><a href="" class="text-decoration-none text-white-50">Sandiganbayan</a></li>
        </ul>
      </div>
      <!-- COR Seal Section -->
      <div class="col-md-3 mb-4">
        <img class="COR-seal" src="assets/COR Seal.png" alt="COR Seal"></div>
      </div>
    </div>
  </div>
</footer>